<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikipedia Sentence Generator</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <section>
      {% if sentences %}
      The three best sentences found by the beam search are:
      <ul>
      {% for sentence, difficulty_breakdown in sentences %}
          <li>{{ sentence | safe }}</li>
          <p style="font-size: 14px; color: grey;">Difficulty breakdown: {{ difficulty_breakdown }}</p>
      {% endfor %}
      </ul>
      {% endif %}
     
      <div style="text-align:center">
        <form method="post" action="/generate_sentence" style="display:inline-block; text-align: center;">
        <button type="submit" class="friendly-button">Generate New Beams</button>
        </form>
        {% if inside_beam_search %}
        <form method="post" action="/extend_sentence" style="display:inline-block; text-align: center;">
        <button class="friendly-button">Extend Current Beams</button>
        </form>
        {% endif %}
      </div>

    </section>

</body>
</html>

